* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8EED9;
    font-family: "Cormorant Garamond", serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 72px;
    margin-bottom: 60px;
    font-weight: 700;
}

p {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 35px;
}

button {
    width: 170px;
    height: 50px;

    border: none;
    border-radius: 999px;

    background-color: #E5B7D3;

    font-family: "Cormorant Garamond", serif;
    font-size: 22px;

    cursor: pointer;

    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0);
}
